{{/* shortcode for generating images in a gallery */}}
{{/* parameters: img, caption */}}

{{/* get file reference */}}
{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "img")) }}

{{/* resize it for a preview */}}
{{ $thumbnail := ($src.Fill "320x160") }}

{{/* resize/optimize large version */}}
{{ $large := ($src.Resize "1500x q90") }}

<li class="post_item" data-src='{{ $large.RelPermalink }}' data-sub-html=".caption">
  <a class="post_card" href='{{ $large.RelPermalink }}' title='{{ (.Get "caption") }}' style='background-image: url({{ $thumbnail.RelPermalink }});'></a>
  <div class="excerpt">
    <div class="excerpt_meta">
      <div class="copy" data-share="Open Fullscreen">
        <svg>
          <use href="#zoom-in"></use>
        </svg>
      </div>
    </div>
  </div>
  <p class="pale caption">{{ (.Get "caption") }}</p>
</li>